.section__title--intro {
  font-weight: $fw-reg;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle--intro {
  background: $clr-accent;
  padding: 0.25em 1em;
  font-family: $ff-secondary;
  margin-bottom: 1em;

  height: fit-content;
}
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
}

.intro__img {
  box-shadow: $bs;
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
