.section__subtitle--work {
  color: $clr-accent;
  font-weight: $fw-bold;
  margin-bottom: 2em;
}

/* My Work */
.my-work {
  background-color: $clr-secondary;
  color: $clr-primary;
  text-align: center;
}

.section__title--work {
  color: $clr-accent;
}

.portfolio__item {
  overflow: hidden;
  background: #585858;
  color: $clr-portfolio-item;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item {
  padding: 0.5em;
  text-align: left;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__item p {
  margin: 0 0.5em;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

.portfolio__item-list {
  list-style-type: none;
  padding-left: 0.5em;
  padding-bottom: 0;
  margin: 0;
}

.portfolio__item-list li {
  margin-top: 1rem;
}

.portfolio__item-heading h4 {
  margin: 0.5em;
}

@media (min-width: 600px) {
  .portfolio {
    padding: 2em;
  }

  .portfolio__item {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .portfolio__item p {
    text-align: left;
  }

  .portfolio__item-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  .portfolio__item-subheading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  .portfolio__item-list {
    text-align: left;
    list-style-type: disc;
    padding-left: 1.5em;
  }
}
